tei-teiheader {
  display: none;
}

tei-p,tei-ab {
  display:block;
}


tei-reg, tei-rdg {
	display: none;
	}
	
tei-lb:before {
	white-space: pre;
	content: '\A';
	}

tei-unclear {
	color: crimson
	}
	
